.message {
    display: block;
    width: 80%;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 4px 2px 0 2px;
}

.floatLeft {
    float: left;
    background-color:rgba(255,140,0, 0.3);
}

.floatRight {
    float: right;
    background-color: rgba(0,255,127, 0.3);
}

.clear {
    clear: both;
}